* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  font-size: 15px;
  background: #fff;
}

/* utilities */

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

ul {
  list-style: none;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.menu-btn:hover {
  opacity: 0.7;
}

.btn {
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: #000;
}
.btn-white {
  padding: 0.5rem 1.5rem;
  background: #fff;
  color: #000;
}

.btn-primary {
  background: #fff;
  color: blue;
}
.py-b {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

/* navigation */
#navbar {
  padding-top: 1rem;
}

#navbar .navigation {
  display: flex;
  justify-content: space-between;
}

#navbar .logo {
  display: flex;
}
#navbar .logo img {
  padding-right: 1rem;
  width: 150px;
}
#navbar .logo .nav-list {
  display: flex;
}

#navbar .logo li {
  /* display: inline-block; */
  padding: 0.3rem 0.45rem;
  position: relative;
}

#navbar .logo li::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -2px;
  left: 0;
  width: 0;
  background: #000;
}

#navbar .logo li:hover::after {
  width: 100%;
}

#navbar .navigation .nav-icon a {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  position: relative;
}

#navbar .navigation .nav-icon a i::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -2px;
  left: 0;
  width: 0;
  background: #000;
}
#navbar .navigation .nav-icon a i:hover::after {
  width: 100%;
}

/* showcase */
#showcase {
  background: url("/img/showcase.jpg") no-repeat center center/cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

#showcase .showcase-info h1 {
  margin-top: 10rem;
  padding-bottom: 1rem;
  font-size: 25px;
}

#showcase .showcase-info p {
  padding-bottom: 2rem;
  font-weight: 500;
}

#showcase .showcase-info a {
  padding: 0.5rem 1.5rem;
}

#showcase .showcase-info i {
  font-size: 12px;
  padding-left: 5px;
}

/* cards */

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.cards img {
  width: 100%;
  display: inline-block;
  padding-bottom: 1rem;
}
.cards .card h3 {
  padding-bottom: 0.5rem;
}
.cards .card p {
  padding-bottom: 0.5rem;
}
.cards .card a {
  font-size: 14px;
  font-weight: 600;
}
.cards .card a:hover i {
  padding-left: 0.5rem;
}

#game {
  background: url("/img/xbox.png") no-repeat center center/cover;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 350px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* #game .game-info{
} */
#game .game-info h1 {
  padding-bottom: 0.5rem;
  font-size: 25px;
}
#game .game-info p {
  padding-bottom: 1.5rem;
}
#game .game-info i {
  font-size: 12px;
  padding-left: 5px;
}
#game .game-info a {
  transition: opacity 0.2s ease-in-out;
}

#game .game-info a:hover {
  opacity: 0.7;
}

#carbon {
  position: relative;
  padding: 2rem;
  background: #333;
  color: #fff;
  margin-bottom: 1rem;
  /* height: 250px; */
  /* opacity: 0.8; */
}
#carbon::before {
  content: "";
  background: url("/img/carbon.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

#carbon .carbon-content {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#carbon .carbon-info {
  z-index: 1;
}

#carbon .carbon-info h1 {
  padding-bottom: 0.5rem;
  font-size: 25px;
}
#carbon .carbon-info p {
  padding-bottom: 1.5rem;
}
#carbon .carbon-info i {
  font-size: 12px;
  padding-left: 5px;
}
#carbon .carbon-info a {
  transition: opacity 0.2s ease-in-out;
}

#carbon .carbon-info a:hover {
  opacity: 0.7;
}

.social {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.social p {
  margin-top: 5px;
}

.social > div img {
  padding: 0 2px;
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

.social > div img.first:hover {
  transform: translateY(-10px);
}
.social > div img.second:hover {
  transform: translateY(-10px);
}
.social > div img.third:hover {
  transform: translateY(-10px);
}

/* Footer */

#main-footer {
  background: #f2f2f2;
}
/* #main-footer .container{
    max-width: 1100px;
} */

#main-footer .footer-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem;
}

#main-footer a {
  color: #262626;
  font-size: 12px;
}
#main-footer h3 {
  font-size: 13px;
  color: #616161;
  font-weight: 700;
}

.trademark {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.trademark .info-links {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(7,1fr); */
}

@media (max-width: 768px) {

  #navbar .navigation .nav-icon{
    margin-right: 50px;
  }


  #navbar .logo .nav-list {
    display: block;
    position: absolute;
    z-index: 2;
    background: #f2f2f2;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    transform: translateX(-500px);
    transition: transform 0.4s ease-in-out;
    padding: 30px;
  }

  #navbar .logo .nav-list li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
  }
  #navbar .logo .nav-list li:last-child {
    border: none;
  }

  #navbar .logo .nav-list.show {
    transform: translateX(0px);
  }

  .menu-btn {
    display: block;
  }
  #navbar .logo li {
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  #main-footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
  #game .game-info h1 {
    padding-bottom: 2.5rem;
  }

  #game .game-info p {
    display: none;
  }
  #carbon .carbon-content {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}

@media (max-width: 420px) {
  .cards {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-content {
    grid-template-columns: 1fr;
  }

  #carbon .carbon-content {
    grid-template-columns: 1fr;
  }
}
